@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 font-family: "Cinzel", serif;
}

body {
  background-color: #222;
  color: #fff;
  font-family: "Cinzel", serif;
}

.markup h1 {
  font-family: "Cinzel", serif;
}
.markup h2 {
  font-family: "Cinzel", serif;
}
.markup h3 {
  font-family: "Cinzel", serif;
}
.markup h4 {
  font-family: "Cinzel", serif;
}

.markup p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em;
}

.markup ul {
  list-style-type: disc;
  margin: 15px 0;
  margin-left: 2em;
}

.markup code {
  margin: 15px 0;
}
